<%= form_for @participant do |f| %>
    <p><%= f.text_field :name, placeholder: "Enter the Participant's Name" %></p>
    <p><%= f.text_field :points, placeholder: "Enter the Participant's Starting Points" %></p>
    <p><%= f.submit "Create Participant" %></p>
    
<% end %>