<h1>All Participants</h1>


<table>
    <thead>
        <th>Name</th>
        <th>Points</th>
        <th>Options</th>
    </thead>
    <tbody>
        <% @participants.each do |participant| %>
            <tr>
                <td><%= participant.name %></td>
                <td><%= participant.points %></td>
                <td><%= link_to "View", participant_path(participant) %>, <%= link_to "Delete", participant_path(participant) %></td>
            </tr>
        <% end %>
    </tbody>
    
</table>