<h1>All Participants</h1>


<table>
    <thead>
        <th>Name</th>
        <th>Points</th>
    </thead>
    <tbody>
        <% @participants.each do |participant| %>
            <tr>
                <td><%= participant.name %></td>
                <td><%= participant.points %></td>
            </tr>
        <% end %>
    </tbody>
    
</table>